body
{
    background-color: yellow;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    font-family: fantasy;
}
.note
{
    font-size: 15px;
    color: black;
    font-family: serif;
}
.copy_right_footer
{
    position: fixed;
    color: red;
    background-color: rgb(11, 250, 43);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}